body {
    font-family : Sans Serif, Arial;
    -webkit-user-select : none;
    overflow : hidden;
}
a {
    color: gray;
    text-decoration: none;
    cursor : hand;
}
a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}

.mtab > * {
    float : left;
}
.mtab > div {
    overflow : hidden;
    white-space : nowrap;
    cursor : move;
}
.mtab .node {
    cursor : pointer;
}
.mtab .favicon {
    cursor : pointer;
}
.mtab .node {
    margin-left : 4px;
    margin-right : 4px;
}
.mtab .star,.favicon {
}
.mtab .star {
    float : right;
    cursor : pointer;
}
.mtab {
    float : top;
}
.mwin {
    background-color : #999;
    float : top;
    position : absolute;
    -webkit-border-radius : 15px;
    -webkit-box-shadow : rgba(20,20,20,1) 1px 1px 5px;
}
.mwin .wtitle {
    color : #fff;
    -webkit-border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    text-align:center;
}
.mwin .wtitle .saveicon {
    float : right;
    margin-right : 10px;
    cursor : pointer;
}
.mwin .wtitle .emailicon {
    float : right;
    margin-right : 10px;
    cursor : pointer;
}
.mwin .wtitle .text {
    margin-top : 5px;
    white-space : nowrap;
    overflow : hidden;
    text-align:center;
    margin-left : 15px;
}
.mwin .wtitle div {
    margin-top : 5px;
    text-align : center;
}
.mwin .wtitle div input {
    width : 300px;
    text-align : center;
    color : #eee;
    background-color : #777;
}
#topbar {
    position : absolute;
    top : 0px;
    left : 0px;
    margin-top : 0px;
    padding-top :0px;
    height : 40px;
    background-color : #ddd;
    width : 100%;
    -webkit-box-shadow : rgba(20,20,20,1) 1px 1px 5px;
}
#topbar #favbar {
    float : left;
}
#topbar #favbar img {
    float : left;
    margin : 8px;
}
#topbar #search {
    float : right;
    height : 30px;
    width : 300px;
    margin : 5px 5px 5px 5px;
    -webkit-border-radius : 10px;
}
#topbar #info {
    float : right;
    margin : 5px 10px 5px 5px;
}

#infopanel {
    position : absolute;
    z-index : 100;
    background-color : #f7f7f7;
    text-align : left;
    width : 550px;
    height : 600px;
    display : none;

    -webkit-border-radius:5px;
    -webkit-box-shadow:rgba(20,20,20,1) 1px 1px 5px;
}

#infopanel #topline {
    padding : 5px;
    margin-bottom : 5px;
    text-align : center;
    font-size : 90%;
    float : top;
}
#infopanel iframe {
    margin-left : 25px;
}

#bagbar {
    position : absolute;
    left : 0px;
    margin-bottom : 0px;
    padding-bottom :0px;
    height : 40px;
    background-color : rgba(0,0,0,0.0);
}
#bagbar img {
    float : left;
    margin : 8px;
}
#bagbar .winentry {
    background-color : #777;
    color : #eee;
    float : left;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    width : 100;
    height : 20px;
    overflow : hidden;
    white-space : nowrap;
    font-size : 90%;
    padding : 10px;
    margin : 5px;
    text-align : center;
    cursor : pointer;
}
.errmsg {
  color : #fff;
  background-color : rgba(100,100,100,1.0);
  font-size : 16px;
  margin-left : 40%;
  margin-right : 40%;
  margin-top : 200px;
  padding : 20px;
  width : 20%;
  text-align : center;
  -webkit-border-radius:10px;
}
